.App__header {
  text-align: center;
  width: 100%;
  height: 3.5rem;
  font-size: 2rem;
  background-color: var(--main-accent-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.App__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--main-accent-fg-color);
}

.App__content {
  max-width: 48rem;
  margin: auto;
  padding: 4.5rem 1rem 1rem;
  box-sizing: border-box;
}
